@import model.{File,RepoData}
@(username : String,repoData : RepoData, file : File)(implicit request: RequestHeader)

@main("File") {
<h1>@file.name</h1>

<p>@file.path</p>>
<form action = "@{if (!file.path.contains("/")) {helper.CSRF(routes.HomeController.repoDir(username,repoData.name))} else {helper.CSRF(routes.HomeController.openDir(username,repoData.name,file.path.split("/").dropRight(1).foldRight("")(_+"/"+_).dropRight(1)))}}">
    <input type="submit" value = "Go Back"/>
</form>

<br>
    @file.decodedContent
}
