@()(implicit request: RequestHeader)
@main("Navigation") {

<p>Exact username</p>
<form method = "post" action = "@helper.CSRF(routes.HomeController.index())">
Username: <input type = "text" name = "username">
    <br>
    <input type="submit"/>
</form>

<p> Search username </p>

<form method = "post" action = "@helper.CSRF(routes.HomeController.searchUsers())">
    Username: <input type = "text" name = "searchUsername">
    <br>
    <input type="submit"/>
</form>

<p>Search for repo</p>
<form method = "post" action = "@helper.CSRF(routes.HomeController.searchRepos())">
    Repository Name: <input type = "text" name = "searchRepo">
    <br>
    <input type="submit"/>
</form>
}
